@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="file" i]::-webkit-file-upload-button {
    @apply border-none  h-full hover:bg-blue-500 rounded-sm;
  }
  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(156, 163, 175) rgb(249, 250, 251);
  }

  body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  body::-webkit-scrollbar-track {
    @apply bg-gray-50;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded;
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
  table {
    @apply w-full;
  }

  thead {
    @apply hidden lg:table-header-group;
  }

  tr {
    @apply max-w-full block relative border-b-4 border-gray-100
      lg:table-row lg:border-b-0 dark:border-slate-800;
  }

  tr:last-child {
    @apply border-b-0;
  }

  td:not(:first-child) {
    @apply lg:border-l lg:border-t-0 lg:border-r-0 lg:border-b-0 lg:border-gray-100 lg:dark:border-slate-700;
  }

  th {
    @apply lg:text-left lg:p-3;
  }

  td {
    @apply flex justify-between text-right py-3 px-4 align-top border-b border-gray-100
      lg:table-cell lg:text-left lg:p-3 lg:align-middle lg:border-b-0 dark:border-slate-800;
  }

  td:last-child {
    @apply border-b-0;
  }

  tbody tr,
  tbody tr:nth-child(odd) {
    @apply lg:hover:bg-gray-100 lg:dark:hover:bg-slate-700/70;
  }

  tbody tr:nth-child(odd) {
    @apply lg:bg-gray-100/50 lg:dark:bg-slate-800/50;
  }

  td:before {
    content: attr(data-label);
    @apply font-semibold pr-3 text-left lg:hidden;
  }
}

@layer components {
  .login {
    @apply w-screen h-screen bg-gradient-to-r from-cyan-500
     to-blue-500 flex justify-center items-center;
    &__container {
      @apply flex flex-col justify-between items-center gap-2 bg-white pb-32 px-10 rounded-lg;
      &__input {
        @apply h-11 w-96  rounded-lg px-2 text-start justify-center outline-none border border-slate-900;
      }
      &__button {
        @apply pt-7 w-full shadow-xl transition-all scale-105;
        button {
          @apply w-full;
        }
      }
      &__header {
        @apply bg-red-400 w-full h-full pt-20 mb-10 rounded-b-md flex text-center items-center justify-center shadow-md;
        h1 {
          @apply text-2xl mb-10 text-emerald-600 shadow-slate-600;
        }
      }
    }
  }
  .formik {
    @apply flex flex-col;
    &__label {
      @apply text-slate-900 text-xl mt-4 mb-2;
    }
  }
  .register {
    @apply relative w-screen h-screen bg-gradient-to-tr from-violet-500 to-orange-300;
    &__container {
      @apply container m-auto items-center flex h-screen justify-center;
      form {
        @apply bg-slate-200 pt-32 pb-28 px-20 rounded-lg shadow-2xl;
      }
      &__button {
        @apply bg-gradient-to-r from-blue-700 via-blue-800 to-gray-600 w-full h-12 rounded-md mt-7 text-white;
      }
    }
  }
  .fourohfour {
    @apply bg-gradient-to-b from-gray-900 to-gray-600 w-screen h-screen relative;
    &__lottie {
      @apply w-screen h-screen absolute top-0 left-0;
    }
    &__button {
      @apply absolute bottom-[15%] right-[10%] bg-orange-600 rounded-lg h-10 w-fit p-4 flex justify-center items-center text-lg shadow-md shadow-slate-400 hover:scale-125 transition-all;
    }
  }
  .layout {
    @apply w-screen h-full flex-1 flex flex-col justify-between  bg-gradient-to-br from-rose-100 to-teal-100;
  }
  .custom-radius {
    border-radius: 0% 0% 49% 50% / 0% 0% 14% 14%;
  }
  .removeArrows {
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
